title: SnowFight: Code
description: A competitive programming game where bots battle in snowball fights
theme: jekyll-theme-cayman

markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge
